:root{
    --cor-primaria: #ffffec;
    --cor-secundaria: rgb(189, 192, 251);
}
* {
    margin: 00;
    padding: 0;
}
.header {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 35px;
    background-color: var(--cor-secundaria);
}
.header__menu {
    display: flex;
    justify-content: center;
    gap: 80px;
}

a {
    text-decoration: none;
    }
a:visited {
    text-decoration: none;
}
body {
    color: rgb(0, 0, 0);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.main {   
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
}
.titulo-destaque {
    color: rgb(255, 0, 0);
}
.Apresentacao {
    margin: 3% 6.5%;
    padding: 0 2% 6.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Apresentacao__texto {      
    width: 1100px;
    height: 160px;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.Apresentacao__texto__titulo {
    font-size: 55px;
}
.Apresentacao__texto__subtitulo {
    font-size: 35px;
}
.skills {
    margin-top: -4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.redes {
    margin: 2.12%;
}
.img1 {
    height: 320px;
    border-radius: 32px;
}
img {
    height: 60px;
}

.footer {
    margin-top: 30px;
    padding: 14px;
    background-color: var(--cor-secundaria);
    font-size: 15px;
}