@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --cor-primaria: #ffffec;
    --cor-secundaria: rgb(189, 192, 251);
}
* {
    margin: 0;
    padding: 0;
}
.header {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 2.25rem;
    background-color:var(--cor-secundaria);
}
.header__menu {
    display: flex;
    justify-content: center;
    gap: 80px;
}
a {
    text-decoration: none;
    }
a:visited {
    text-decoration: none;
}
body {
    width: 100%;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}
.body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.main {   
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
    flex-grow: 1;
}
.titulo-destaque {
    color: rgb(255, 0, 0);
}
.Apresentacao {
    margin: 6% 10% 5%;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}
.Apresentacao__texto {      
    width: 1100px;
    height: 160px;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.Apresentacao__texto__titulo {
    font-size: 3.44rem;
}
.Apresentacao__texto__subtitulo {
    font-size: 3.44rem;
}
.Apresentacao__texto__paragrafo {
    margin: 0 0;
    font-weight: 500
    }
.Apresentacao__link {
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.Apresentacao__link_links {
    margin-left: 42%;
    display: flex;
    flex-direction: ROW;
    align-items: center;
    padding: 20px 20px;
    gap: 10px;
    background-color: var(--cor-primaria);
    color: black;
    text-decoration-line: none;
    width: 120px;
    height: 30px;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 999;
    border: 2px solid;
}
.Apresentacao__link_links:hover {
    background-color: var(--cor-secundaria);
}
.img1 {
    width: 20%;
    height: 20%;
    border-radius: 32px;
}

footer {
    padding: 14px;
    background-color: rgb(189, 192, 251);
    font-size: 1.2rem;
}

@media (max-width: 1300px) {
    .header {
        padding: 2%;
        background-color: var(--cor-primaria);
        font-size: 1.45rem;
    }
    .header__menu{
        gap: 40px;
    }
    body {
        background-color: var(--cor-secundaria);
    }
    .Apresentacao {
        flex-direction: column-reverse;
    }
    .Apresentacao__texto{
        width: auto;
    }
    .Apresentacao__link_links:hover {
        background-color: blueviolet;
    }
    .img1 {
    width: 50%;
    height: 50%;
    border-radius: 32px;
    }
    .footer{
        padding: auto;
        background-color: var(--cor-primaria);
    }

}